body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
}

#menu-lateral {
  position: fixed;
  top: 0;
  left: -220px; /* Inicialmente oculto */
  height: 100%;
  width: 220px;
  background-color: #555; /* Cor de fundo do menu lateral */
  padding-top: 60px;
  transition: left 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra suave */
  z-index: 999; /* Coloquei um z-index maior para ficar acima do conteúdo */
}

#abrir-fechar-menu {
  position: fixed;
  top: 20px;
  left: 0; /* Posicionado à esquerda */
  background-color: #555; /* Cor de fundo do botão de menu */
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 1000;
  transition: left 0.3s ease; /* Ajuste para acompanhar a abertura/fechamento */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra suave */
}

#abrir-fechar-menu:hover {
  background-color: #777; /* Cor de fundo do botão de menu quando hover */
}

#menu-lateral a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

#menu-lateral a:hover {
  background-color: #777; /* Cor de fundo do item de menu quando hover */
}

#conteudo {
  margin: 20px; /* Ajuste para evitar sobreposição com o menu lateral */
  padding: 20px;
  transition: margin-left 0.3s ease;
  background-color: #fff; /* Cor de fundo do conteúdo */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra suave */
  border-radius: 10px; /* Cantos arredondados */
  margin-top: 30px; /* Margem superior para o título central */
  color: #333;
}

#menu-lateral.aberto ~ #conteudo {
  margin-left: 20px; /* Empurrar o conteúdo quando a barra lateral estiver aberta */
}

#titulo-central {
  text-align: center;
  font-size: 24px;
  margin-top: 30px;
  color: #fff; /* Cor do título central */
  display: block;
}

.search-bar {
  margin-bottom: 20px;
}

.objeto-exemplo {
  margin-bottom: 10px;
}

.quantidade {
  width: 50px;
}

.add-button {
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.add-button:hover {
  background-color: #45a049;
}

#carrinho {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.delete-button {
  cursor: pointer;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
}

.delete-button:hover {
  background-color: #d32f2f;
}

#export-button {
  cursor: pointer;
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
}

#export-button:hover {
  background-color: #1976d2;
}