body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

#menu-lateral {
  position: fixed;
  top: 0;
  left: -220px; /* Inicialmente oculto */
  height: 100%;
  width: 220px;
  background-color: #333;
  color: #fff;
  padding-top: 60px;
  transition: left 0.3s ease;
}

#abrir-fechar-menu {
  position: fixed;
  top: 20px;
  left: 20px; /* Posicionado à esquerda */
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 1000;
  transition: left 0.3s ease; /* Ajuste para acompanhar a abertura/fechamento */
}

#abrir-fechar-menu:hover {
  background-color: #555;
}

#menu-lateral a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 18px;
}

#menu-lateral a:hover {
  background-color: #555;
}
